# User-specific files
*.suo
*.user
*.vs
*.log

.vs
.git

launchSettings.json

# Build results
**/build/
**/bin/
**/obj/
**/publish/

# NodeJS 
**/node_modules/

# Build
.drone.yml

# Development Settings
appsettings.*.json

# Documentation
CHANGELOG.md
