# User-specific files
*.suo
*.user
*.vs
*.log

.vs
.git

# Build results
**/build/
**/bin/
**/obj/
**/publish/

**/Squidex.Identity/appsettings.Development.json
**/Squidex.Identity/Properties/launchSettings.json
