# User-specific files
*.suo
*.user
*.vs
*.log

.vs
.git

# Build results
build/
bin/
obj/
publish/

# NodeJS 
**/node_modules/

# Development Settings
appsettings.Development.json
appsettings.Production.json
launchSettings.json

# Build
.drone.yml

# Documentation
CHANGELOG.md
